<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
 <form method='POST' action='/team'>
 <label for="name">Team name: </label>
    <input placeholder='Name' name='name'>
     <label for="coach">Coach: </label>
    <input placeholder='Coach' name='coach'>
     <label for="pg">Point Guard: </label>
    <input placeholder='pg' name='pg'>
     <label for="sg">Shooting Guard: </label>
    <input placeholder='sg' name='sg'>
     <label for="pf">Power Forward: </label>
    <input placeholder='pf' name='pf'>
     <label for="sf">Small Forward: </label>
    <input placeholder='sf' name='sf'>
     <label for="c">Center: </label>
    <input placeholder='c' name='c'>
    <input type='submit' id="Submit" name='Submit'>
 </form>
 </body>
</html>


